*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.hero {
  text-align: center;
  padding: 50px 0;
  background: #f4f4f4;
}

.hero h1 {
  margin: 0;
  font-size: 2.5em;
}

.hero p {
  font-size: 1.2em;
  color: #666;
}

.introduction, .skills, .projects {
  margin: 40px 0;
}

.introduction h2, .skills h2, .projects h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.skills ul, .projects ul {
  list-style-type: none;
  padding: 0;
}

.skills li, .projects li {
  background: #e4e4e4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
  font-size: 1em;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #1e90ff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #333;
  color: #fff;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
  margin-top: 10px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #1e90ff;
}


.about {
  padding: 40px 20px;
  background: #f9f9f9;
  text-align: center;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #333;
}
.btn{
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  /* font-size: 1.1em; */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.red li{
  color: red;
}