/* Container styling */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #3f3f3f;
}

/* Card styling */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-10px);
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.card span {
  font-size: 14px;
  color: #999;
}

/* Navbar container */
nav {
  background-color: #333;
  padding: 15px 20px;
}

/* Navbar list */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar list items */
nav ul li {
  margin: 0 15px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav ul li:hover {
  color: #ff6347; /* Tomato color */
}

/* For responsive design */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}
